<app-base-bottom-sheet [title]="'Basemaps'">
  <mat-nav-list>
    <mat-list>
      @if (basemapCollection.length === 0) {
        Loading basemaps...
      } @else {
        <mat-list-item
          *ngFor="let map of basemapCollection"
          (click)="setBasemap(map)"
        >
          <div class="cursor-pointer">
            <div class="flex items-center justify-between w-full">
              <span>
                {{ map?.title }}
              </span>
              <img
                class="w-24 h-16"
                *ngIf="null !== map.thumbnailUrl"
                src="{{ map.thumbnailUrl }}"
                alt=""
              />
            </div>
          </div>
        </mat-list-item>
      }
    </mat-list>
  </mat-nav-list>
</app-base-bottom-sheet>
