<div class="flex m-2">
  <p class="text-lg font-bold text-bgs-primary-earth">View Type:</p>
</div>
<div class="flex justify-center m-2">
  <mat-button-toggle-group
    [(value)]="viewTypeToggle"
    name="fontStyle"
    aria-label="Font Style"
    (change)="toggleViewType($event.value)"
  >
    <mat-button-toggle value="{{ VIEW_TYPE.MAP_VIEW }}">Map View</mat-button-toggle>
    <mat-button-toggle value="{{ VIEW_TYPE.SCENE_VIEW }}">Scene View</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div class="flex m-2">
  <p class="text-lg font-bold text-bgs-primary-earth">Layers:</p>
</div>
<div class="flex justify-center m-2">
  <mat-chip-listbox
    class="mat-mdc-chip-set-stacked"
    multiple="true"
    (change)="toggleLayer($event.value)"
  >
    <mat-chip-option
      value="{{ LAYER_TYPE.RESERVOIRS }}"
      selected="{{ activeLayers.includes(LAYER_TYPE.RESERVOIRS) }}"
    >
      Reservoirs
    </mat-chip-option>
    <mat-chip-option
      value="{{ LAYER_TYPE.CANALS }}"
      selected="{{ activeLayers.includes(LAYER_TYPE.CANALS) }}"
    >
      Canals
    </mat-chip-option>
    <mat-chip-option
      value="{{ LAYER_TYPE.PUMPING_STATIONS }}"
      selected="{{ activeLayers.includes(LAYER_TYPE.PUMPING_STATIONS) }}"
    >
      Pumping Stations
    </mat-chip-option>
  </mat-chip-listbox>
</div>

<div class="flex m-2">
  <p class="text-lg font-bold text-bgs-primary-earth">Select Basemap:</p>
</div>
<div class="flex justify-center m-2">
  <button
    mat-raised-button
    (click)="toggleBottomSheet()"
  >
    Basemaps
  </button>
</div>
