:host {
  height: 100vh;

  /*
    mobile viewport bug fix
    Changing height: stretch will work in chrome/safari but breaks Firefox
   */
  /* stylelint-disable-next-line value-no-vendor-prefix */
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;

  /* stylelint-disable-next-line selector-pseudo-element-no-unknown */
  & ::ng-deep {
    & .mat-drawer-container,
    & .mat-drawer-content {
      flex: 1;
      flex-direction: column;
      display: flex;
    }
  }
}

@media only screen and (width <= 600px) {
  .sidenav {
    width: 100%;
  }
}
